@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .bg-card-blue {
    background-color: #bae2ff;
  }
  .bg-card-teal {
    background-color: #b9ffdd;
  }
  .bg-card-yellow {
    background-color: #ffe8ac;
  }
  .bg-card-salmon {
    background-color: #ffcab9;
  }
  .bg-card-red {
    background-color: #f99494;
  }
  .bg-card-sky {
    background-color: #9dd6ff;
  }
  .bg-card-pink {
    background-color: #eca1ff;
  }
  .bg-card-lime {
    background-color: #daff8b;
  }
  .bg-card-orange {
    background-color: #ffa285;
  }
  .bg-card-cloud {
    background-color: #cdcdcd;
  }
  .bg-card-gray {
    background-color: #979797;
  }
  .bg-card-brown {
    background-color: #a99a7c;
  }
  .bg-card-white {
    background-color: #ffffff;
  }
}
